header {
    background: #3b5998;
    color: #fff;
    padding: 2em;
    text-align: center;
}

body {
    background: #f7f7f7;
    color: #333;
    text-align: center;
}

nav {
    text-align: center;
    word-spacing: 30px;
}

nav {
    background-color: #f7f7f7;
    padding-bottom: 35px;
    padding-top: 35px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-li {
    display: inline-block;
    margin-right: 10px;
}

.nav-li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
}

.nav-li a:hover {
    background-color: #ddd;
    border-radius: 5px;
}

.nav-li a.active {
    color: #5ca7de;
}

#currencies-table {
    width: 100%;
    border-collapse: collapse;
}

#currencies-table th,
#currencies-table td,
#exchange-history-table th,
#exchange-history-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

#currencies-table th,
#exchange-history-table th {
    background-color: #5ca7de;
    font-weight: bold;
}

#currencies-table tr:nth-child(even),
#exchange-history-table tr:nth-child(even) {
    background-color: #e9ebee;
}

.dataTables_wrapper .dataTables_paginate {
    float: none !important;
    text-align: unset !important;
    padding-top: 2.25em !important;
}

.form-container {
    max-width: 500px;
}

.table-container {
    margin-left: 10%;
    margin-right: 10%;
}

.error-page-body {
    background-color: #f7f7f7;
}

.error-page-container {
    text-align: center;
    vertical-align: center;
    top: 50px;
    margin-top: 10%;
    font-family: cursive;
    color: #757a79;
}